* {
  background-color: "#000";
}

body {
  font-family: sans-serif;
}

#field-container {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  position: absolute;
  top: 25rem;
  left: 70rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  font-size: 30px;
  pointer-events: none;
}